#panel-container
{
    position: absolute;
    top: 9rem;
}

#panel
{
    width: 27rem;
    height: 18rem;
    background-color: wheat;
    border: 1px solid wheat;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain-items
{
    width: 90%;
    margin-top: .5rem;
}

#credentials
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
}

#credentials > .contain-items > label
{
    margin-left: .5rem;
}

#credentials > .contain-items > a
{
    float: right;
    margin-right: .5rem;
}

#username-input, #password-input
{
    margin: auto;
}

#login-button
{
    margin-top: 1rem;
    width: 100%;
}

.spinner-border
{
    width: 1rem;
    height: 1rem;
}

#register
{
    width: 90%;
    margin-top: .3rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#register a
{
    margin-top: -.5rem;
}