@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root
{
    --navbar-height: 5rem;
}

body
{
    font-family: "Baloo 2", sans-serif;
    font-style: normal;
    font-weight: normal;
}

header
{
    font-size: 21px;
}

main
{
    margin-top: var(--navbar-height);
    font-size: 18px;
}

#toast-container
{
    position: absolute;
    top: .5rem;
    display: flex;
    flex-direction: column;
}

.toast
{
    position: relative;
    margin-top: .3rem;
}